flake8
paramiko
pytest==2.7.1
pytest-xdist
requests==2.6.0
cattle==0.5.1
selenium
websocket-client==0.23.0
docker-py==1.2.3
boto
pytest-timeout==0.5
pytest-colordots==0.1
pytest-cov==2.1.0
pytest-runfailed==0.5
pytest-sugar==0.4.0